body {
    font-family: 'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    text-align: center;

}


#Tablero4x4{
    height: 360px;
    width: 360px;

    background-color: #072e79;
    border: 10px inset #4340ec ;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


HACER DOS BOTONES PARA SEPARAR LOS TABLEROS, OJO